
body{
    margin: 0;
}
.menu-bar{
    background:rgb(253, 220, 110);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:rgb(94, 0, 0);
}
.menu-bar ul li{
    width: 120px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
}
.Small-details{
    display: flex;
    margin-bottom: 100px;
}
.Small-details p{
    font-size: 20px;

}
.width{
    width: 70%;
    padding: 40px;
}
.width img{
    width: 100%;
    border-radius: 100px;
}
.color{
    color: rgb(230, 106, 6);
}
.baner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(tomato, rgb(226, 55, 55));
    padding: 5px;
    color: white;
    font-weight:700px;
    border-radius: 5px;
}
.width-2nd{
    width: 50%;
    padding-left: 25px;

}
.width-2nd img{
    width: 80%;
}
.full-stack{
    width: 50%;
    box-shadow: 10px 10px 40px rgb(58, 54, 54);
    margin-left: 10%;
    margin-right: 10%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;

    
}
#End{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(196, 171, 118),green);
    border-image-slice: 1;
}
#Hero{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(233, 93, 93),black);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: rgb(1, 173, 102);
}
.Exprince{
    background-image:url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Exprince h1{
    padding-left: 20px;
    padding-bottom: 40px;
}
.become{
    color: rgb(182, 20, 20);
}



